
*{  
    margin: 0;
    font-family: "Lora", serif;
    font-family: "Signika Negative", sans-serif;
}

nav ul li a:hover {
    color: orange !important;
    background-color: #1f1e1e !important;
    text-decoration: none;
    transition: 0.5s !important;
}

nav ul li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.bg-img-1{
    background-image: url(images/slide1.png);
}

.bg-img-2{
    background-image: url(images/slide2.png);
}

.bg-img-3{
    background-image: url(images/slide4.png);
}

.carousel-image{
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    transition: 1.5s ease-in-out;
}

.carousel-image:hover{
    filter: grayscale(0);
}
.BossD{
    position: relative;
}

.BossD::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0%;
    left: -5%;
    width: 98%;
    height: 100%;
    background-color: #ffa50090;
    transform: rotate(-1deg);
    border-radius: 5px;
}

.carousel-control-prev span{
    background-color: #ffa500;
    background-size: 40px;
    background-position: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 50%;
    filter: grayscale(1);
    transition: .5s;
}
.carousel-control-prev span:hover{
    opacity: 100;
    background-color: #ffa500;
    filter: grayscale(0);

}
.carousel-control-prev {
    display: flex;
    justify-content: center;
    top: 49%;
    height: fit-content;
}

.carousel-control-next span{
    background-color: #ffa500;
    background-size: 40px;
    background-position: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 50%;
    filter: grayscale(1);
    transition: .5s;
}
.carousel-control-next span:hover{
    opacity: 100;
    background-color: #ffa500;
    filter: grayscale(0);

}
.carousel-control-next {
    display: flex;
    justify-content: center;
    top: 49%;
    height: fit-content;
}

.carousel-caption{
    color: rgb(255, 255, 255); 
    font-size: 25px;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-caption h3 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 30px;
    margin: 0;
}

.carousel-caption p {
    margin: 0;
    font-size: 22px;
}

.carousel{
    margin-top: 80px;
    z-index: 9998;
}

.carousel img{
    position:  center;
}

.navbar{
    z-index: 999999;
    margin: 0 -15px 0 -15px;
    border-top: solid 5px #000;
    border-bottom: solid 5px #000;
}

.navbar img{
    margin-left: 15px;
    padding: 15px 0 15px 0 ;
    
}

.extra{
    height: 90vh;
}

.curve {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    transform: scale(1, 1);
}

.curve:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 179px;
    background-color: #212529;
    right: 0;
    top: -90px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
}

.curve2 {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    transform: scale(1, 1);
}

.curve2:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 179px;
    z-index: 9980;
    background-color: #212529;
    right: 0;
    top: -86px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 53%, -1% 53%, 0% 100%)
}

.testimony{
    height: 100vh;
}

.mySwiper:host{
    -swiper-theme-color: #ffa500;
}

.testimony h3{
    font-size: 50px;
    letter-spacing: 5px;
}

.testimony span, .profile span{
    color: #ffa500;
}
.numcode{
    color: #ffa500;
}

.testi-item{
    height: 65vh;
    background: radial-gradient(circle, rgba(55,57,61,1) 0%, rgba(159,166,178,1) 100%);
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

swiper-container {
    width: 80%;
    height: 100%;
    
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.testi-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-state{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.testi-state::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 25%;
    left: 1%;
    width: 96%;
    height: 50%;
    background-color: #21252950;
    transform: rotate(-1deg);
    border-radius: 5%;
    z-index: -1;
}

.testi-state::after{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 25%;
    left: 1%;
    width: 96%;
    height: 50%;
    border: 2px solid #ffa50080;
    transform: rotate(-4deg);
    border-radius: 5%;
    z-index: -1;
}

.testi-item h2{
    padding: 10px;
    transition: .5s;
}

.testi-item p{
    color: #ccdae0;
    transition: .5s;

}

swiper-slide img {
    height: 50vh;
    padding: 20px;
}

.testi-item h2:hover,.testi-item p:hover{
    color: #ffa500;
}

.contact{
    margin-bottom: 35px;
    padding-top: 50px;
}

.opt-item{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 8px;
}

.opt-item:hover{
    font-size: 18px;
    padding: 7px;
    color: #ffa500;

}

.foot-item{
    margin: 15px 0;
}


.foot-item h6{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}

.conMe{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ffa500;
    text-transform: uppercase;
    color: #212529;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    margin: 20px;
    background-color: transparent;
    transition: .5s;
}

.conMe::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #ffa500;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

.conMe:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
}

.conMe:hover::before {
    transform: scaleY(0);
}

.conMe:hover::after {
    transform: scaleX(0);
}

.conMe  span {
    position: relative;
    z-index: 9900;
}
  
.conMe::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #ffa500;
    transition: 0.5s ease-in-out;
    transform: scalex(1);
}

.profile{
    margin-top: 10vh;
    z-index: 9998;
    display: flex;
    align-items: center;
}


.prof-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 500;
}

.prof-item h1{
    font-size: 60px;
    margin: 5px 0 20px 0;
    text-align: left;
}

.prof-item h2{
    font-size: 35px;
    margin: 10px 0;
}

.prof-item h3{
    font-size: 20px;
    color: orange;
    margin: 0;
    text-align: left;
}

.prof-item h4{
    font-size: 25px;
    margin: 20px 0;
}
.myprofpic{
    align-self: center;
    height: 85vh;
    top: 0;
}

.profpic2{
    align-self: center;
    height: 70vh;
    top: 0;
}
.about{
    margin: -10vh 0 10vh 0;
    z-index: 9998;
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
}
.about .accordion span, .orange{
    color: #ffa500;
}

.about-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.accordion-item button{
    color: #ffa500 !important;
    border: .1px solid #fff;
    transition: .2s;
}
.accordion-item button:focus{
    color: #000 !important;
    border: 0px solid #fff;
    background-color: #ffa500 !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 160, 0, 0.25);
}

.accordion-body span{
    font-size: 18px;
}
.bg1{
    background-image: url(images/graph\ \(1\).png);
    position: absolute;
    width: 477px;
    height: 387px;
    background-repeat: no-repeat;
    top: 120px;
    right: 60%;
    transform: rotate(219deg);
    opacity: .4;
}

.bg2{
    background-image: url(images/graphh\ \(1\).png);
    position: absolute;
    width: 477px;
    height: 450px;
    background-repeat: no-repeat;
    top: 120px;
    right: 60%;
    transform: rotate(219deg);
    opacity: .4;
}

.bgstring{
    background-image: url(images/oooscillate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
}

.socMedIcon{
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socMedIcon ul{
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
}

.socMedIcon ul li{
    list-style: none;
    margin: 0 30px;
}


.socMedIcon ul li:nth-child(1) .fa-brands{
    font-size: 35px;
    margin: -3px 0 0 -3px;
    line-height: 60px;
    transition: 0.3s;
    color: #ffa500;
    padding: 0 18px;
}
.socMedIcon ul li:nth-child(2) .fa-brands{
    font-size: 35px;
    margin: -3px 0 0 -3px;
    line-height: 60px;
    transition: 0.3s;
    color: #ffa500;
    padding: 0 14px;
}
.socMedIcon ul li:nth-child(3) .fa-brands{
    font-size: 35px;
    margin: -3px 0 0 -3px;
    line-height: 60px;
    transition: 0.3s;
    color: #ffa500;
    padding: 0 15px;
}
.socMedIcon ul li:nth-child(4) .fa-brands{
    font-size: 35px;
    margin: -3px 0 0 -3px;
    line-height: 60px;
    transition: 0.3s;
    color: #ffa500;
    padding: 0 13px;
}

.socMedIcon ul li .fa-brands:hover{
    color: #000;
}
.socMedIcon ul li:nth-child(2) .fa-brands:hover{
    color: #000;
}
.socMedIcon ul li:nth-child(3) .fa-brands:hover{
    color: #fff;
}
.socMedIcon ul li:nth-child(4) .fa-brands:hover{
    color: #fff;
}

.socMedIcon ul li a{
    position: relative;
    display: block;
    text-decoration:  none;
    margin: 0;
    color: #212529;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border: 3px solid #ffa500;
    background-color: #212529;
    text-align: center;
    transition: 0.5s;
}
.socMedIcon ul li:nth-child(1) a:hover{
    border: none;
    color: #fff;
    background-color: #3b5998;
    box-shadow: 0 5px 4px #ffa50050;
}
.socMedIcon ul li:nth-child(2) a:hover{
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #00f2ea, #EE1D51);
    box-shadow: 0 5px 4px #ffa50050;
}
.socMedIcon ul li:nth-child(3) a:hover{
    border: none;
    color: #fff;
    background-image: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
    box-shadow: 0 5px 4px #ffa50050;
}
.socMedIcon ul li:nth-child(4) a:hover{
    border: none;
    color: #fff;
    background-color: #000;
    box-shadow: 0 5px 4px #ffa50050;
}

.socMedIcon ul li a:hover{
    transform: translate(0, -10px);
}

#cards_landscape_wrap-2{
    text-align: center;
}

#cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box{
    background: #212529;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img{
    width: 100%;
    transition: all .9s ease; 
    height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container p{
    font-size: 15px;
}

#cards_landscape_wrap-2 .card-flyer{
    background: #ffffff;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover{
    background: #f3f3f3;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #ffa500;
}

.cv{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ffa500;
    text-transform: uppercase;
    color: #212529;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    margin: 20px;
    background-color: transparent;
    transition: .5s;
}

.cv::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #ffa500;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
}

.cv:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
}

.cv:hover::before {
    transform: scaleY(0);
}

.cv:hover::after {
    transform: scaleX(0);
}

.cv  span {
    position: relative;
    z-index: 9900;
}
  
.cv::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #ffa500;
    transition: 0.5s ease-in-out;
    transform: scalex(1);
}

.skill-item h4{
    color: #000;
    margin: 15px 0;
}

.skills{
    margin-top: 10vh;
    z-index: 9998;
    display: flex;
    align-items: center;
}

.skill-item p{
    font-size: 18px;
}
.skill-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 500;
}

.skilled{
    position: relative;
}

.skilled::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    width: 96%;
    height: 100%;
    background-color: #21252920;
    transform: rotate(-1deg);
    border-radius: 5%;
}

.skilled::after{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0%;
    left: -1%;
    width: 96%;
    height: 100%;
    border: 2px solid #ffa50050;
    transform: rotate(-4deg);
    border-radius: 5%;
}

.progress{
    height: 0.5rem;
    background-color: #212529;
}
.progress-bar{
    background-color: #ffa500;
}

.project{
    padding-top: 60px;
}
.proj{
    position: relative;
}
.proj::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #21252920;
    transform: rotate(-1deg);
    border-radius: 5%;
}

.proj::after{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 9%;
    left: 9%;
    width: 81%;
    height: 81%;
    border: 2px solid #ffa500;
    transform: rotate(358deg);
    border-radius: 5%;
}

.project h2{
    margin-bottom: 40px;
}

.project .proj-img img{
    border-radius: 10px;
    width: 85%;
    max-width: 650px;
    border: 2px dashed #ffa500;
    filter: brightness(90%);
}
.project .proj-img img:hover{
    filter: opacity(100%);
}

.project-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 500;
}

.project-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 500;
}

.project-item p{
    font-size: 18px;
}

.project-item .tags .tag{
    padding: 8px;
    color: #000000;
    border-radius: 38% 62% 38% 62% / 70% 40% 60% 30% ;
    background-color: #21252980;
    transition: .4s;
}

.project-item .tags .tag:hover{
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
}
.look{
    margin-top: 40px;
    display: flex;
}

.link{
    padding: 0px 15px;
    position: relative;
    margin: 0 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 27% 73% 21% 79% / 71% 35% 65% 29% ;
    background-color: #212529;
    transition: .5s;
}

.link::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: -8%;
    left: -11%;
    width: 105%;
    height: 105%;
    transform: rotate(4deg);
    border-radius: 27% 73% 21% 79% / 71% 35% 65% 29% ;
    border: 2px solid #ffa500;
}

.link:hover{
    transform: translateY(-8px);
    box-shadow: 0 5px 4px #00000060;
}
.link-git{
    padding: 5px 9px;
    position: relative;
    margin: 0 10px;
    color: #ffa500;
    font-size: 30px;
    background-color: #212529;
    border-radius: 50% 45%;
    transition: .5s;
}
.link-git::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: -8%;
    left: -17%;
    width: 105%;
    height: 105%;
    transform: rotate(4deg);
    border-radius: 50% 45%;
    border: 2px solid #ffa500;
}

.link-git:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 4px #00000060;
}
.cr{
    text-align: center;
}

.cr span{
    color: #ffa500;
}

.form-control {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.con-in{
    position: relative;
}

.con-in:hover::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 100%;
    background-color: #ffa500;
    transform: rotate(-1deg);
    border-radius: 5px;
    z-index: -1;
}
.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}

.con-item{
    align-items: center;
}

.con-info{
    position: relative;
    background-color: transparent !important;
}

.con-info::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    transform: rotate(-1deg);
    border-radius: 5%;
    z-index: -1;
}
.con-info::after{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    transform: rotate(-4deg);
    border: 2px solid #ffa500;;
    border-radius: 5%;
    z-index: -1;
}

.form-control:focus,.form-control:active {
    border-color: #ffa500 !important;
}

.btn.btn-primary {
    background: #01d28e !important;
    border-color: #01d28e !important;
    color: #fff;
    width: 100px;
    border-radius: 0!important;
}

.sub-btn{
    font-size: 15px;
    padding: 10px 50px ;
    position: relative;
}
.sub-btn::before{
    content: "";
    margin: 0 10px;
    position: absolute;
    top: -7%;
    left: -10%;
    width: 115%;
    height: 115%;
    background-color: #f0f0f0;
    transform: rotate(-1deg);
    border-radius: 5%;
    z-index: -1;
    transition: .3s;
}
.sub-btn:hover::before{
    background-color: #ffa500;
}

.bi{
    font-size: 30px;
    color: #ffa500;
}

.anchor{
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}
@media (max-width: 576px){
    .opt-item{
        font-size: 13px;
    }

    .carousel-caption p {
        font-size: 15px;
    }
    
    .navbar-nav{
        text-align: center !important;
    }

    .testimony h3{
        margin: 0;
        font-size: 30px;
    }

    .testimony h4{
        margin: 0;
        font-size: 17px;
    }

    .testi-state{
    padding-bottom: 13px;
    }
    .socMedIcon ul li{
        list-style: none;
        margin: 0 15px;
    }
    .testi-item{
        height: 50vh;
}
}
@media (max-width: 768px){
    .carousel-caption p {
        font-size: 18px;
    }

    .opt-item{
        font-size: 14px;
    }
    
    .myprofpic{
        height: 60vh;
        top: 0;
    }
    .profpic2{
        height: 45vh;
        top: 0;
    }
    .testi-item{
        height: 58vh;
    }
    .link{
        padding: 0px 13px;
        font-size: 15px;
    }
    .link-git{
        padding: 2px 7px;
        font-size: 27px;
    }
    
}
@media (max-width: 992px){
    .prof-item h1{
        font-size: 40px;
        margin: 5px 0 20px 0;
        text-align: center;
    }

    .prof-item h2{
        font-size: 22px;
        margin: 10px 0;
        text-align: center;
    }
    .prof-item h3{
        font-size: 15px;
        color: orange;
        text-align: center;
    }
    .prof-item h4{
        font-size: 18px;
        margin: 20px 0;
        text-align: center;
    }
    .project-item{
        padding: 0 10%;
    }
}