* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-family: "Signika Negative", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#00000062, #ffffff62),
    url(images/background2.jpg);
  background-position: top;
  background-size: 100%;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 250px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
}
.nav-links ul li a:hover {
  color: rgb(255, 39, 1);
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.MyPic img {
  width: 367px;
  margin: 50px 80px 17px 100px;
  position: relative;
  float: left;
  border-radius: 20px;
  filter: grayscale(1);
  transition: 0.5s;
}
.MyPic img:hover {
  width: 372px;
  margin: 49px 75px 12px 98px;
  filter: grayscale(0);
}
.right {
  margin-left: 570px;
  margin-top: 70px;
}
.right h1 {
  font-size: 40px;
  color: #333333;
  transition: 0.2s;
}
.right h1:hover {
  font-size: 43px;
  color: #000000;
  transition: 0.2s;
}

.right h3 {
  font-size: 16px;
  color: #ffc107;
}
.right p {
  font-size: 18px;
  color: #000000;
}
.socmed {
  display: flex;
  margin-top: 30px;
  margin-left: 570px;
}
.facebook {
  width: 75px;
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: gray;
  justify-content: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 19px;
  transition: 0.8s;
}
.insta {
  width: 75px;
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: gray;
  justify-content: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 19px;
  transition: 0.8s;
}
.facebook:hover {
  width: 160px;
  background: #3b5998;
}
.insta:hover {
  width: 170px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.facebook i {
  padding: 21px;
  color: #000000;
}
.insta i {
  padding: 21px 24px 21px 23px;
  color: #000000;
}
.facebook i:hover {
  transform: rotate(360deg);
  transition: 0.8s;
}
.insta i:hover {
  transform: rotate(360deg);
  transition: 0.8s;
}
.facebook p {
  font-size: 18px;
  font-weight: bold;
}
.insta p {
  font-size: 18px;
  font-weight: bold;
}
.About {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#00000062, #ffffff62),
    url(images/background3.png);
  background-position: top;
  background-size: 100%;
  position: relative;
}
